# gerrit-specific things
BASE_URL=chromium-review.googlesource.com # gerrit instance
PROTOCOL=https # this is so you can use http instead of https i guess

# app settings
PORT=3000 # what port the app is running on